<ion-view view-title="Login">
  <ion-content class="padding">

    <div class="text-center">
      <img src="img/nplugins.png" />
    </div>
  
    <h5 class="positive">IMEI: {{$root.imei}}</h5>
    <h5>Digite suas credenciais para acessar o sistema:</h5>

    <div class="list" ng-if="!isLoggedIn()">
      <label class="item item-input">
        <input type="text" placeholder="CPF (somente números)" name="cpf" ng-model="login.cpf">
      </label>
      <label class="item item-input">
        <input type="password" placeholder="Senha" name="pass" ng-model="login.pass">
      </label>
      <h6 class="assertive" ng-show="invalidUser">Usuário/senha inválido(s)</h6>
      <button class="button button-block button-positive" ng-click="login(login)">
        Entrar
      </button>
    </div>

  </ion-content>
</ion-view>