<ion-view view-title="Login">
  <ion-content class="padding">
    <h5>Digite suas credenciais para acessar o sistema:</h5>
    <div class="list">
      <label class="item item-input">
        <input type="text" placeholder="CPF (somente números)">
      </label>
      <label class="item item-input">
        <input type="text" placeholder="Senha">
      </label>
      <button class="button button-block button-positive" ng-click="submit()">
        Entrar
      </button>
    </div>
  </ion-content>
</ion-view>