<ion-view view-title="Histórico">
  <ion-content class="padding">
    <h5 class="positive">Usuário: {{loggedUser}}</h5>

    <br ng-show="events.length<=0" />
    <h5 ng-show="events.length<=0" class="text-center">Nenhum evento registrado.</h5>

    <div class="margin-bottom-10" ng-repeat="event in events">
		<div class="item item-divider">
		  {{getEventNameBySlug(event.serviceSlug)}}
		</div>
		<div class="list">
		  <a class="item" href="">
		    <strong>Hora de início:</strong> {{event.initialDate}}
		  </a>
		  <a class="item" href="">
		    <strong>Hora de término:</strong> {{event.endDate}}
		  </a>
		  <a class="item" href="" ng-if="false">
		    <strong>GPS:</strong> {{event.gps}}
		  </a>
		</div>
	</div>

  </ion-content>
</ion-view>