<ion-view view-title="Histórico">
  <ion-content class="padding">
    <h5 class="positive">IMEI: 123456</h5>

	<div class="item item-divider">
	  Volante: término
	</div>
	<div class="list">
	  <a class="item" href="#">
	    <strong>Horário:</strong> 10/05/2016 08:30:23
	  </a>
	  <a class="item" href="#">
	    <strong>GPS:</strong> 1.6546465465 5.6465465465
	  </a>
	</div>

	<div class="item item-divider">
	  Volante: início
	</div>
	<div class="list">
	  <a class="item" href="#">
	    <strong>Horário:</strong> 10/05/2016 06:26:42
	  </a>
	  <a class="item" href="#">
	    <strong>GPS:</strong> 2.9854235465 4.7152665465
	  </a>
	</div>

	<div class="item item-divider">
	  Aguardando liberação: término
	</div>
	<div class="list">
	  <a class="item" href="#">
	    <strong>Horário:</strong> 10/05/2016 06:24:32
	  </a>
	  <a class="item" href="#">
	    <strong>GPS:</strong> 2.9854235465 4.7152665465
	  </a>
	</div>

  </ion-content>
</ion-view>